@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.App {
  text-align: center;
}

body{
  background-color: #52D1DC;
}

body h1 {
  color: #342E37;
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  background-color: #E0A890;
  width: 100%;
}

body h2 {
  font-family: 'Playfair Display', serif;
}

.mainPage {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainPage button {
  background-color: #8CAE68;
  border-color: #5F5449;
  font-size: 2.5rem;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  font-family: 'Pacifico', cursive;
  margin-bottom: 20px;
}

.buttonAlignment {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}


img {
  max-width: 90%;
}